<table id="messages">
  <thead>
    <tr>
      <th>Subject</th>
      <th>From</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |m| %>
      <tr <%= "class=m_opened" if m.opened%> <%= "class=m_notopened" if !m.opened%>>
        <td><b><%= link_to m.topic, message_path(m) %></b></td>
        <td><%= m.from %></td>
        <% if !m.opened %>
        <td>New</td>
        <% else %>
          <td>Old</td>
        <% end %>
        <td><%= link_to "Delete", delete_message_path(m) %></td>
      </tr>
    <% end %>
  </tbody>
</table>