<% provide(:title, "Profile") %>
<div id="profile-page">
<h4>Mail:  <%= @user.email %></h4>
<h4>Address:  <%= @user.address %></h4>
<p>
  <h4>Rating:</h4><%= rating_for @user, "rating" %>
</p>
<h4>Comments About This User:</h4>
<ul id="comments">
  <% @comments.each do |c| %>
    <li>
      <b><%= c.title %></b>
      <p><%= c.comment %></p>
    </li>
  <% end %>
</ul>


<%= form_for @comment, url: comment_path do |f| %>
  <%= hidden_field_tag :user, @user.id %>
  <%#= hidden_field_tag :user_id, current_user.id %>
  <%= f.text_field :title, value:current_user.email, class: "hidden" %>
  <%= f.label :comment %>
  <%= f.text_area :comment, id: "comment" %> <br>
  <%= f.submit "Comment" %>
<% end %>

</div>