<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%#= f.label :pay_type %><br />
    <%#= f.text_field :pay_type %>
    <%#= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
    Payment Method
  </div>

  <%= f.hidden_field :stripe_card_token %>

<div class="field">
    <%= label_tag :card_number, "Credit Card Number" %><br />
    <%= text_field_tag :card_number, nil, name: nil %>
  </div>

  <div class="field">
    <%= label_tag :card_code, "Security Code on Card (CVV)" %><br />
    <%= text_field_tag :card_code, nil, name: nil %>
  </div>

<div class="field">
    <%= label_tag :card_month, "Card Expiration" %><br />
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
    <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
  </div>

  <div id="stripe_error">
    <noscript>
      JsvaScript is not enabled and is required for this form. First enable it in your browser settings.
    </noscript>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
