<div class="order_box">
<table id="order">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Order Now</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><b><%= order.name %></b></td>
      <td><%= order.address %></td>
      <td><%= order.email %></td>
      <% if order.approved %>
      <td><b><%= link_to "Pay Now", order.paypal_url(store_url, payment_notifications_url) %></b></td>
      <% else %>
        <td><b>Awating Sellers Approval</b></td>
      <% end %>
      <td><%= link_to 'Show', order %></td>
      <!-- <td><%#= link_to 'Edit', edit_order_path(order) %></td> -->
      <td><%= link_to 'Delete Order', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>


</div>