<div id="custom">
<%= form_for([@user,@product], html: {multipart: :true, id: "default"}) do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


        <fieldset title="Naming & Pricing">
          <legend>Step 1</legend>


          <div class="field">
            <%= f.label :title, size: 40 %><br />
            <%= f.text_field :title %>
          </div>
        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_area :description %>
        </div>

          <div class="field">
            <%= f.label :price %><br />
            <%= f.text_field :price %>
          </div>


        </fieldset>
  
        <fieldset title="Tags, Categories & Image">
          <legend>Step 2</legend>
          

          <div class="field">
            <%= f.label :tag_list, "Tags (seperated by commas)" %><br />
            <%= f.text_field :tag_list %>
          </div>
              <div class="field">
                
                <%= f.select(:category_id, @categories_for_list, prompt: "Select a category") %>

             </div>

<!-- for desabling root Category from being selected -->
             <script>
              $("#product_category_id option").each(function()
              {
                if($(this).text().charAt(0) === "-" ){
                  $(this).prop('disabled', false);
                }else{
                  $(this).prop('disabled', true);
                }
              })
             </script>
<!-- end -->

            <div class="field">
              <%= f.label :image %><br />
              <%= f.file_field :image %>
            </div>

        </fieldset>

        <fieldset title="Finish">
          <legend>Step 3</legend>

          <div class="field">
            <%= f.label :division, 'Division' %><br />
            <%= f.collection_select :division, Division.order(:name), :name, :name, include_blank: false, prompt: 'Select a Division' %>
          </div>

          <div class="field">
            <%= f.label :district, 'District' %><br />
            <%= f.grouped_collection_select :district, Division.order(:name), :districts, :name, :name, :name, include_blank: false, prompt: 'Select a District' %>
          </div>

          <div class="field">
            <%= f.label :thana, 'Thana' %><br />
            <%= f.grouped_collection_select :thana, District.order(:name), :thanas, :name, :name, :name, include_blank: false, prompt: 'Select a Thana' %>
          </div>

        </fieldset>


    <%= f.submit "Finish", class: "finish" %>
  </div>
<% end %>


    <script type="text/javascript">
      $(function() {

        $('#default').stepy();

        $('#custom').stepy({
          backLabel:  'Backward',
          block:    true,
          errorImage: true,
          nextLabel:  'Forward',
          titleClick: true,
          validate: true
        });

        $('div#step').stepy({
          finishButton: true
        });

        // Optionaly
        $('#custom').validate({
          errorPlacement: function(error, element) {
            $('#custom div.stepy-error').append(error);
          }, rules: {
            'user':     { maxlength: 1 },
            'email':    'email',
            'checked':    'required',
            'newsletter': 'required',
            'password':   'required',
            'bio':      'required',
            'day':      'required'
          }, messages: {
            'user':     { maxlength: 'User field should be less than 1!' },
            'email':    { email:   'Invalid e-mail!' },
            'checked':    { required:  'Checked field is required!' },
            'newsletter': { required:  'Newsletter field is required!' },
            'password':   { required:  'Password field is requerid!' },
            'bio':      { required:  'Bio field is required!' },
            'day':      { required:  'Day field is requerid!' },
          }
        });

        $('#callback').stepy({
          back: function(index) {
            alert('Going to step ' + index + '...');
          }, next: function(index) {
            if ((Math.random() * 10) < 5) {
              alert('Invalid random value!');
              return false;
            }

            alert('Going to step ' + index + '...');
          }, select: function(index) {
            alert('Current step ' + index + '.');
          }, finish: function(index) {
            alert('Finishing on step ' + index + '...');
          }, titleClick: true
        });

        $('#target').stepy({
          description:  false,
          legend:     false,
          titleClick:   true,
          titleTarget:  '#title-target'
        });

      });
    </script>



<script type="text/javascript">
  var validation = function(ids){
    $(ids).focusout(function(){
    var title = $("#product_title").val().replace(/^\s+|\s+$/g, "").length != 0;
    var description = $("#product_description").val().replace(/^\s+|\s+$/g, "").length != 0;
    var price = $("#product_price").val().replace(/^\s+|\s+$/g, "").length != 0;
    // alert("dd");
    if( !title || !description || !price ){
      $("#default-next-0").hide();
    }

    if( title && description && price ){
      $("#default-next-0").show();
    }

    });


$(ids).keyup(function(){
    var title = $("#product_title").val().replace(/^\s+|\s+$/g, "").length != 0;
    var description = $("#product_description").val().replace(/^\s+|\s+$/g, "").length != 0;
    var price = $("#product_price").val().replace(/^\s+|\s+$/g, "").length != 0;
    // alert("dd");
    if( !title || !description || !price ){
      $("#default-next-0").hide();
    }

    if( title && description && price ){
      $("#default-next-0").show();
    }
    });

$(ids).click(function(){
    var title = $("#product_title").val().replace(/^\s+|\s+$/g, "").length != 0;
    var description = $("#product_description").val().replace(/^\s+|\s+$/g, "").length != 0;
    var price = $("#product_price").val().replace(/^\s+|\s+$/g, "").length != 0;
    // alert("dd");
    if( !title || !description || !price ){
      $("#default-next-0").hide();
    }

    if( title && description && price ){
      $("#default-next-0").show();
    }

    });



  }
  validation("#product_title");
  validation("#product_description");
  validation("#product_price");

</script>
