<div id="product-show-page" >

<div id="fb-root"></div><!-- required by facebook -->
<%= link_to(image_tag("facebook.png"), '#', :class => "fb_share") %>
<%= facebook_share_once %>


<div class="product-show">

<div id="image">
  <%= image_tag @product.image_url.to_s %>
</div>

    <div>
        
          <h4><%= @product.title.capitalize %></h4>
        

        <p>
          <%= @product.description.capitalize %>
        </p>

        <p>
          <b>Price:</b>
          <%= @product.price %>
        
          Tags: <%= @product.tag_list %>
        </p>
    </div>

    <div id="product-buttons">
        <%= link_to 'Add to Cart', line_items_path(product_id: @product.id), class: "btn", id: "cart_conf",confirm: "Previous Cart Items Will be Deleted!", method: 'post' %>
      <%#= link_to "Seller", user_path(@product.user), class: "btn" %>
      <%= link_to "Message", new_email_message_path(@product.user.email), class: "btn" %>

      <%= link_to('Edit', edit_product_path(@product), class:'btn') if current_user.id == @product.user.id %>
      <%= link_to 'Report', reports_path(product: @product.id, user: current_user.email), class: "btn", method: 'post' %>
      <%#= link_to 'Back', products_path, class: 'btn' %>
      
    </div>


</div>
<% if current_user != @product.user %>
<%#= form_for([@user,@product], html: {multipart: :true, id: "mark_sold"}) do |f| %>
  <%#= f.label :sold, "Mark As Sold:" %>
  <%#= f.check_box :sold %>
  <%#= f.submit "Apply Change" %>
<%# end %>
<%= link_to "Rate This User", profile_path(@product.user), id: "mark_sold", class: "btn" %>
<% end %>

<%# if @product.sold %>
<!-- <span class="alert" id="sold_label">Sold</span> -->
<%# end %>



<%= gmaps("markers" => {"data" => @json, "options" => {"auto_zoom" => false} }) %>

</div>
<%#= gmaps4rails(@json) %>

<span class="clearfix"></span>

<% content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
      Gmaps.map.callback = function() {
        if (Gmaps.map.markers.length == 1) {
         //only one marker, choose the zoom level you expect
         setTimeout(function() { Gmaps.map.serviceObject.setZoom(8);}, 50);
        }
        else{
         //more than one marker, let's auto_zoom
         Gmaps.map.map_options.auto_zoom = true;
         Gmaps.map.adjustMapToBounds();
        }
      }
    </script>
<% end %>


