<div class="container-fluid">
<div >

<div class="span9" id="product">

<%#= gmaps4rails(@json) %>

<hr>

  <div>
    <div class="hide-on-search">
    <h4 style="margin-left: 28px;">Electronics</h4>
    <% @electronic_products.each do |product| %>
      <div class="span4 box">
        <h4><%= link_to product.title.titleize, product_path(product) %></h4>
        <p><%= product.address %></p>
        <%= image_tag product.image_url.to_s %>
        
        <span class="price" >Price: <%= number_to_currency(product.price) %></span>
        <%#= button_to 'Add to Cart', line_items_path(product_id: product), class: "btn pull-right" %>
      </div><!--/span-->
    <% end %>
    </div>




    <h4 style="margin-left: 28px;">All</h4>
    <% @products.each do |product| %>
      <div class="span4 box">
        <h4><%= link_to product.title.titleize, product_path(product) %></h4>
        <p><%= product.address %></p>
        <%= image_tag product.image_url.to_s %>
        
        <span class="price" >Price: <%= number_to_currency(product.price) %></span>
        <%#= button_to 'Add to Cart', line_items_path(product_id: product), class: "btn pull-right" %>
      </div><!--/span-->
    <% end %>



  </div><!--/row-->
  </div><!--/span-->
  </div><!--/row-->



