<% provide(:title, "Home") %>
<div class="container-fluid">
<div >

<div class="span9" id="product">


<hr>

  <div>
    <div class="hide-on-search">
    <h4 style="margin-left: 28px;">Electronics</h4>
    <% @electronic_products.each do |product| %>
      <div class="span4 box">
        <b><%= link_to product.title.titleize, product_path(product) %></b>
        <p><%= product.address %></p>
        <%= image_tag product.image_url.to_s %>
        
        <p class="price" >Price: <%= number_to_currency(product.price) %></p>
      </div><!--/span-->
    <% end %>
    </div>
    <span class="clearfix"></span>
<!-- mark -->
<div class="hide-on-search">
    <h4 style="margin-left: 28px;">Home and Kitchen</h4>
    <% @home_and_kitchen.each do |product| %>
      <div class="span4 box">
        <b><%= link_to product.title.titleize, product_path(product) %></b>
        <p><%= product.address %></p>
        <%= image_tag product.image_url.to_s %>
        
        <p class="price" >Price: <%= number_to_currency(product.price) %></p>
      </div><!--/span-->
    <% end %>
    </div>
    <span class="clearfix"></span>

    <div class="hide-on-search">
    <h4 style="margin-left: 28px;">Vehicle</h4>
    <% @vehicle.each do |product| %>
      <div class="span4 box">
        <b><%= link_to product.title.titleize, product_path(product) %></b>
        <p><%= product.address %></p>
        <%= image_tag product.image_url.to_s %>
        
        <p class="price" >Price: <%= number_to_currency(product.price) %></p>
      </div><!--/span-->
    <% end %>
    </div>
    <span class="clearfix"></span>

    <div class="hide-on-search">
    <h4 style="margin-left: 28px;">Books and Entertainment</h4>
    <% @books_and_entertainment.each do |product| %>
      <div class="span4 box">
        <b><%= link_to product.title.titleize, product_path(product) %></b>
        <p><%= product.address %></p>
        <%= image_tag product.image_url.to_s %>
        
        <p class="price" >Price: <%= number_to_currency(product.price) %></p>
      </div><!--/span-->
    <% end %>
    </div>
    <span class="clearfix"></span>

<!-- mark -->
    <h4 style="margin-left: 28px;" id="change_on_search">All</h4>
    <% @products.each do |product| %>
      <div class="span4 box">
        <b><%= link_to product.title.titleize, product_path(product) %></b>
        <p><%= product.address %></p>
        <%= image_tag product.image_url.to_s %>
        
        <p class="price" >Price: <%= number_to_currency(product.price) %></p>
      </div><!--/span-->
    <% end %>



  </div><!--/row-->
  </div><!--/span-->
  </div><!--/row-->



