<!DOCTYPE html>
<html>
<head>
  <title>eStore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "https://js.stripe.com/v1", "application", :media => "all" %>
  <%#= stylesheet_link_tag    "mobile" if mobile_device? %>
  <%= javascript_include_tag "https://js.stripe.com/v1", "application" %>

<% if mobile_device? %>
<%= stylesheet_link_tag     "application", :media => "all" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
<% end %>




  <%= csrf_meta_tags %>
  <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>
</head>
<body>
<div data-theme="b" class="ui-page-active" data-role="page">
<%= render 'layouts/nav'%>
<% if notice %>
  <p id="notice" ><%= notice %></p>
<% end %>

<%= yield %>

      <hr>

      <footer>
        <p>&copy; eStore 2013</p>
      </footer>

    </div><!--/.fluid-container-->

<%= yield :scripts %>

</div>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
