<!DOCTYPE html>
<html>
<head>
  <title>eStore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%#= stylesheet_link_tag    "mobile" if mobile_device? %>
  <%= javascript_include_tag  "application" %>

<% if mobile_device? %>
<%= stylesheet_link_tag     "application", :media => "all" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
<% end %>




  <%= csrf_meta_tags %>
  <%#= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>
</head>
<body>
  <div id="top-header">
    <div id="logo"><a href="<%= root_path %>"><h3>eStore</h3></a></div>
<% if current_user && session[:cart_id] %>
    <%= link_to(image_tag("cart.png", id:"cart_img"), cart_path(session[:cart_id]), id: "cart_link") %>
<% end %>
    
    <div class="container">
      <div class="row header-row">
        
        <div class="span6">

        <div class="search_bar">
            <%= form_tag store_path, method: :get, id: "form-search" do %>
                    <%= text_field_tag :search, params[:search], id: "name-search" %>

               <%= select_tag :cat_search, options_for_select(Category.all.map {|obj, id| [obj, obj]}), prompt: "All", class: "selectpicker search-select" %>

               <%= submit_tag "Go", id: 'go' %>
            <% end %>
        </div><!--/search-bar-->
<%= link_to "Advanced Search", new_search_path, class: 'btn ads' %>
        </div> <!--/span6-->
        <div id="sign-in-up">
          <% if user_signed_in? %>
              <p class="navbar-text pull-right">
                 <a href="#" class="navbar-link"><strong><%=link_to current_user.email, user_path(current_user) %></strong></a> /
                 <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              </p>
            <% else %>
              <p class="navbar-text pull-right">
                <%= link_to 'Sign up', new_user_registration_path %> /
                <%= link_to 'Sign in', new_user_session_path %>
              </p>
            <% end %>
        </div>
      </div> <!--/row-->

      <div class="row top-border">
        <ul class="nav inline">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
        <li><%= link_to "Profile", user_path(current_user) %></li>

        <li><%#= link_to "Profile", profile_path(current_user) %></li>
        <li><%= link_to "My Products", products_path %></li>
        <li><%= link_to "Inbox", messages_path %></li>
        <% end %>
        </ul>
      </div>

    </div> <!--/container-->
    


  </div> <!--top header-->

<% if notice %>
  <p id="notice" ><%= notice %></p>
<% end %>

  <div class="main-part">
    <div class="span3 sidebar-nav goleft">
      <div class="hide-on-search">
      <h4 style="padding-left: 20px;background: #b2b2b2;">Categories:</h4>
      <div id="side-nav">
        <% Category.roots.each do |category| %>

        <h3><%= link_to category.name, category: category %></h3>
        <div>
          <ul>
            <% category.children.each do |sub_cat|%>
            <li><%= link_to_unless_current sub_cat.name, category: sub_cat %></li>
            <% end %>
          </ul>
        </div>

        <% end %>
      </div>

      </div> <!--/hide-on-search-->

      <div class="filter2">
        <h4 style="padding-left: 20px;background: #b2b2b2;">Filter Products:</h4>
        <div>
          <%= form_tag store_path, method: :get do %>
            <%= label_tag :search, 'Name:'%>
            <%= text_field_tag :search, params[:search] %>
            <%= label_tag :cat_search, 'Category:'%>
            <%= select_tag :cat_search, options_for_select(Category.all.map {|obj, id| [obj, obj]}), prompt: "All" %>

            <%= label_tag :price, "Price:"%>
            <%= radio_button_tag :price, "1-300", params[:price], checked: false %> 1-300<br>
            <%= radio_button_tag :price, "301-1000", params[:price], checked: false %> 301-1000 <br>
            <%= radio_button_tag :price, "1001-2000", params[:price], checked: false %> 1001-2000 <br>
            <%= label_tag :location, "Location:" %>
            <%= select_tag :location, options_for_select(Division.all), prompt: "Division" %>

            <%= submit_tag "Search" %>
          <% end %>
          
        </div><!--/search-bar-->
      </div>

      <div class="hidden filter">
        <h4 style="padding-left: 20px;background: #b2b2b2;">Filter Products:</h4>
        <div>
          <%= form_tag store_path, method: :get do %>
            <%= label_tag :search, 'Name:'%>
            <%= text_field_tag :search, params[:search] %>
            <%= label_tag :cat_search, 'Category:'%>
            <%= select_tag :cat_search, options_for_select(Category.all.map {|obj, id| [obj, obj]}), prompt: "All" %>

            <%= label_tag :price, "Price:"%>
            <%= radio_button_tag :price, "1-300", params[:price], checked: false %> 1-300<br>
            <%= radio_button_tag :price, "301-1000", params[:price], checked: false %> 301-1000 <br>
            <%= radio_button_tag :price, "1001-2000", params[:price], checked: false %> 1001-2000 <br>
            <%= label_tag :location, "Location:" %>
            <%= select_tag :location, options_for_select(Division.all), prompt: "Division" %>

            <%= submit_tag "Search" %>
          <% end %>
          
        </div><!--/search-bar-->
      </div>
    </div>



  <%= gmaps("markers" => {"data" => @json, "options" => {"auto_zoom" => false} }) %>


    <% content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
      Gmaps.map.callback = function() {
        if (Gmaps.map.markers.length == 1) {
         //only one marker, choose the zoom level you expect
         setTimeout(function() { Gmaps.map.serviceObject.setZoom(8);}, 50);
        }
        else{
         //more than one marker, let's auto_zoom
         Gmaps.map.map_options.auto_zoom = true;
         Gmaps.map.adjustMapToBounds();
        }
      }
    </script>
<% end %>



  </div> <!--/main-part-->

<%= yield %>

<script src="js/jquery-ui.js"></script>

  <script type="text/javascript">
      $("#searchDropdownBox").change(function(){

  var Search_Str = $(this).val();

  //replace search str in span value

  $("#nav-search-in-content").text(Search_Str);

});

      $('#side-nav').accordion({collapsible: true, active: false});
  </script>



<%= yield :scripts %>

</div>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
